[submodule "third-party/tensorflow"]
	path = third-party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://github.com/google/flatbuffers.git
